In [1]:
import calendar
import pandas as pd
import pandas as pd

def add_month_yr(x):
    """add month and year column

    Args:
        x (dataframe): dataframe

    Returns:
        dataframe: dataframe with month-yr column
    """    
    assert isinstance(x,pd.DataFrame)
    x['Timestamp_stamp'] =pd.to_datetime(x['Timestamp'], format='%m/%d/%Y %H:%M',dayfirst=True)
    #x =  x.sort_values('Timestamp_stamp',ascending=True) 
    x['Month'] = x['Timestamp_stamp'].dt.month
    x['Month'] = x['Month'].apply(lambda x: calendar.month_abbr[x])
    x['Year'] = x['Timestamp_stamp'].dt.year
    x['month-yr'] =  x["Month"] +'-'+x["Year"].astype(str)
    x = x.drop(['Timestamp_stamp', 'Month', 'Year'], axis=1)
    return x

In [63]:
x = pd.read_csv('./survey_data.csv',sep = ',',header = 0)
z = add_month_yr(x)
z['month-yr'] = pd.Categorical(z['month-yr'],categories= z['month-yr'].unique(),
                      ordered=True)
z

,Timestamp,ID,What computer languages are you fluent in?,What is your cumulative programming experience (in any language)?,What is your desired technical role?,What platforms do you primarily work on?,Do you have any prior Python programming experience?,Are you interested in any particular Python packages?,Is there anything in particular you want to use Python for?,How did you hear about this course?,Is this class required for your degree program?,What are you hoping to learn from this class?,"If you are a graduate student, what is your current year of study?","If you are a graduate student, what was your undergraduate institution?",Were you on the waiting list for this class for a previous quarter?,Quarter,month-yr
0,9/1/2017 7:21,3931,"Matlab, JAVA, C/C++, Shell Scripts (BASH, CSH,...",More than 1 year,Software engineer,Linux/Unix,More than 6 months,"scikit learn, Pandas, TensorFlow, Caffe","Data extraction and processing, Data analytics...",ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017,Sep-2017
1,9/1/2017 7:26,4205,"Matlab, C/C++",Between 6 months and 1 year,Engineer (other than software),Windows PC,None,none,Data extraction and processing,ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017,Sep-2017
2,9/1/2017 7:32,3669,"Matlab, JAVA, C/C++, Shell Scripts (BASH, CSH,...",More than 1 year,Data scientist,Windows PC,More than 6 months,"pandas, tensorflow","Data analytics, Machine learning, Statistical ...",ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017,Sep-2017
3,9/1/2017 7:39,1452,"Matlab, C/C++, Shell Scripts (BASH, CSH, etc.)",More than 1 year,Data scientist,"Linux/Unix, Windows PC",More than 6 months,Don't really know which packages are offered o...,"Data extraction and processing, Data analytics...",ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017,Sep-2017
4,9/1/2017 7:39,2968,None,Between 6 months and 1 year,Any,"Linux/Unix, Windows PC",Less than 6 months,scikit learn,"Numerical processing, Data analytics, Machine ...",Friend/Colleague recommended it,NaN,NaN,NaN,NaN,NaN,Fall2017,Sep-2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,1/8/2019 17:05,2052,"Matlab, C/C++",More than 1 year,Software engineer,"Linux/Unix, Windows PC, Mac OS X",Less than 6 months,"pandas, keras","Scientific visualization, Data extraction and ...",Friend/Colleague recommended it,Yes,Some smart algorithms,First year graduate student,Purdue University,Yes,NaN,Jan-2019
482,1/8/2019 21:00,3767,Matlab,Less than 6 months,Data scientist,"Linux/Unix, Mac OS X","None, Less than 6 months",Numpy,"Numerical processing, Scientific visualization...",ECE Announcement,Yes,Obtain proficiency in python programming langu...,First year graduate student,UCSD,No,NaN,Jan-2019
483,1/9/2019 13:18,3148,"Matlab, C/C++",Between 6 months and 1 year,Software engineer,Mac OS X,Less than 6 months,"Numpy, Pandas, Matplotlib","Data extraction and processing, Machine learni...",Friend/Colleague recommended it,No,a better use of Python,First year graduate student,Beijing Institute of Technology,No,NaN,Jan-2019
484,1/9/2019 17:02,1445,"Matlab, C/C++",More than 5 years,Software engineer,"Linux/Unix, Windows PC",Less than 6 months,"Numpy, scikit",Data extraction and processing,Friend/Colleague recommended it,No,Become comfortable with python for scripting/d...,Second year graduate student,"Anna University, India",No,NaN,Jan-2019
485,1/9/2019 17:04,2524,"Matlab, C/C++",Between 6 months and 1 year,Engineer (other than software),"Linux/Unix, Windows PC, Mac OS X",None,Numpy,"Data extraction and processing, Data analytics...",ECE Announcement,No,Python and machine learning,First year graduate student,UC Davis,No,NaN,Jan-2019

In [6]:
import calendar
import pandas as pd
import pandas as pd

def add_month_yr(x):
    """add month and year column

    Args:
        x (dataframe): dataframe

    Returns:
        dataframe: dataframe with month-yr column
    """    
    assert isinstance(x,pd.DataFrame)
    x['Timestamp_stamp'] =pd.to_datetime(x['Timestamp'], format='%m/%d/%Y %H:%M',dayfirst=True) 
    x['Month'] = x['Timestamp_stamp'].dt.month
    x['Month'] = x['Month'].apply(lambda x: calendar.month_abbr[x])
    x['Year'] = x['Timestamp_stamp'].dt.year
    x['month-yr'] =  x["Month"] +'-'+x["Year"].astype(str)
    x = x.drop(['Timestamp_stamp', 'Month', 'Year'], axis=1)
    return x


def fix_categorical(x):
    """fix the order of the month-yr

    Args:
        x (dataframe): dataframe with month-yr column

    Returns:
        dataframe: with month-yr ordered
    """    
    assert isinstance(x,pd.DataFrame)
    x['month-yr'] = pd.Categorical(x['month-yr'],categories= x['month-yr'].unique(),ordered=True)
    return x

x = pd.read_csv('./survey_data.csv',sep = ',',header = 0)
z = fix_categorical(add_month_yr(x))
z.groupby('month-yr')['Timestamp'].count().to_frame().sort_index()

          Timestamp
month-yr
Sep-2017         74
Jan-2018        148
Feb-2018          2
Mar-2018         41
Apr-2018         28
Sep-2018        130
Oct-2018          6
Jan-2019         57

In [50]:
x = pd.read_csv('./survey_data.csv',sep = ',',header = 0)
#x =  x.sort_values('Timestamp',ascending=True)
x['Timestamp_stamp'] =pd.to_datetime(x['Timestamp'], format='%m/%d/%Y %H:%M',dayfirst=True)
x =  x.sort_values('Timestamp_stamp',ascending=True)
x#\ =x.set_index('Timestamp')

,Timestamp,ID,What computer languages are you fluent in?,What is your cumulative programming experience (in any language)?,What is your desired technical role?,What platforms do you primarily work on?,Do you have any prior Python programming experience?,Are you interested in any particular Python packages?,Is there anything in particular you want to use Python for?,How did you hear about this course?,Is this class required for your degree program?,What are you hoping to learn from this class?,"If you are a graduate student, what is your current year of study?","If you are a graduate student, what was your undergraduate institution?",Were you on the waiting list for this class for a previous quarter?,Quarter,Timestamp_stamp
0,9/1/2017 7:21,3931,"Matlab, JAVA, C/C++, Shell Scripts (BASH, CSH,...",More than 1 year,Software engineer,Linux/Unix,More than 6 months,"scikit learn, Pandas, TensorFlow, Caffe","Data extraction and processing, Data analytics...",ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017,2017-09-01 07:21:00
1,9/1/2017 7:26,4205,"Matlab, C/C++",Between 6 months and 1 year,Engineer (other than software),Windows PC,None,none,Data extraction and processing,ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017,2017-09-01 07:26:00
2,9/1/2017 7:32,3669,"Matlab, JAVA, C/C++, Shell Scripts (BASH, CSH,...",More than 1 year,Data scientist,Windows PC,More than 6 months,"pandas, tensorflow","Data analytics, Machine learning, Statistical ...",ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017,2017-09-01 07:32:00
3,9/1/2017 7:39,1452,"Matlab, C/C++, Shell Scripts (BASH, CSH, etc.)",More than 1 year,Data scientist,"Linux/Unix, Windows PC",More than 6 months,Don't really know which packages are offered o...,"Data extraction and processing, Data analytics...",ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017,2017-09-01 07:39:00
4,9/1/2017 7:39,2968,None,Between 6 months and 1 year,Any,"Linux/Unix, Windows PC",Less than 6 months,scikit learn,"Numerical processing, Data analytics, Machine ...",Friend/Colleague recommended it,NaN,NaN,NaN,NaN,NaN,Fall2017,2017-09-01 07:39:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,1/8/2019 17:05,2052,"Matlab, C/C++",More than 1 year,Software engineer,"Linux/Unix, Windows PC, Mac OS X",Less than 6 months,"pandas, keras","Scientific visualization, Data extraction and ...",Friend/Colleague recommended it,Yes,Some smart algorithms,First year graduate student,Purdue University,Yes,NaN,2019-01-08 17:05:00
482,1/8/2019 21:00,3767,Matlab,Less than 6 months,Data scientist,"Linux/Unix, Mac OS X","None, Less than 6 months",Numpy,"Numerical processing, Scientific visualization...",ECE Announcement,Yes,Obtain proficiency in python programming langu...,First year graduate student,UCSD,No,NaN,2019-01-08 21:00:00
483,1/9/2019 13:18,3148,"Matlab, C/C++",Between 6 months and 1 year,Software engineer,Mac OS X,Less than 6 months,"Numpy, Pandas, Matplotlib","Data extraction and processing, Machine learni...",Friend/Colleague recommended it,No,a better use of Python,First year graduate student,Beijing Institute of Technology,No,NaN,2019-01-09 13:18:00
484,1/9/2019 17:02,1445,"Matlab, C/C++",More than 5 years,Software engineer,"Linux/Unix, Windows PC",Less than 6 months,"Numpy, scikit",Data extraction and processing,Friend/Colleague recommended it,No,Become comfortable with python for scripting/d...,Second year graduate student,"Anna University, India",No,NaN,2019-01-09 17:02:00
485,1/9/2019 17:04,2524,"Matlab, C/C++",Between 6 months and 1 year,Engineer (other than software),"Linux/Unix, Windows PC, Mac OS X",None,Numpy,"Data extraction and processing, Data analytics...",ECE Announcement,No,Python and machine learning,First year graduate student,UC Davis,No,NaN,2019-01-09 17:04:00

In [ ]:
x= x.reset_index()
z = add_month_yr(x)
z = z.sort_values('month-yr')
z = z.reset_index()
z

In [64]:
z.groupby('month-yr')['Timestamp'].count().to_frame().sort_index()

          Timestamp
month-yr
Sep-2017         74
Jan-2018        148
Feb-2018          2
Mar-2018         41
Apr-2018         28
Sep-2018        130
Oct-2018          6
Jan-2019         57

In [11]:
z =z.set_index('Timestamp')
#z = z.reset_index()
z

,ID,What computer languages are you fluent in?,What is your cumulative programming experience (in any language)?,What is your desired technical role?,What platforms do you primarily work on?,Do you have any prior Python programming experience?,Are you interested in any particular Python packages?,Is there anything in particular you want to use Python for?,How did you hear about this course?,Is this class required for your degree program?,What are you hoping to learn from this class?,"If you are a graduate student, what is your current year of study?","If you are a graduate student, what was your undergraduate institution?",Were you on the waiting list for this class for a previous quarter?,Quarter
Timestamp,,,,,,,,,,,,,,,
9/1/2017 7:21,3931,"Matlab, JAVA, C/C++, Shell Scripts (BASH, CSH,...",More than 1 year,Software engineer,Linux/Unix,More than 6 months,"scikit learn, Pandas, TensorFlow, Caffe","Data extraction and processing, Data analytics...",ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017
9/1/2017 7:26,4205,"Matlab, C/C++",Between 6 months and 1 year,Engineer (other than software),Windows PC,None,none,Data extraction and processing,ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017
9/1/2017 7:32,3669,"Matlab, JAVA, C/C++, Shell Scripts (BASH, CSH,...",More than 1 year,Data scientist,Windows PC,More than 6 months,"pandas, tensorflow","Data analytics, Machine learning, Statistical ...",ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017
9/1/2017 7:39,1452,"Matlab, C/C++, Shell Scripts (BASH, CSH, etc.)",More than 1 year,Data scientist,"Linux/Unix, Windows PC",More than 6 months,Don't really know which packages are offered o...,"Data extraction and processing, Data analytics...",ECE Announcement,NaN,NaN,NaN,NaN,NaN,Fall2017
9/1/2017 7:39,2968,None,Between 6 months and 1 year,Any,"Linux/Unix, Windows PC",Less than 6 months,scikit learn,"Numerical processing, Data analytics, Machine ...",Friend/Colleague recommended it,NaN,NaN,NaN,NaN,NaN,Fall2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1/8/2019 17:05,2052,"Matlab, C/C++",More than 1 year,Software engineer,"Linux/Unix, Windows PC, Mac OS X",Less than 6 months,"pandas, keras","Scientific visualization, Data extraction and ...",Friend/Colleague recommended it,Yes,Some smart algorithms,First year graduate student,Purdue University,Yes,NaN
1/8/2019 21:00,3767,Matlab,Less than 6 months,Data scientist,"Linux/Unix, Mac OS X","None, Less than 6 months",Numpy,"Numerical processing, Scientific visualization...",ECE Announcement,Yes,Obtain proficiency in python programming langu...,First year graduate student,UCSD,No,NaN
1/9/2019 13:18,3148,"Matlab, C/C++",Between 6 months and 1 year,Software engineer,Mac OS X,Less than 6 months,"Numpy, Pandas, Matplotlib","Data extraction and processing, Machine learni...",Friend/Colleague recommended it,No,a better use of Python,First year graduate student,Beijing Institute of Technology,No,NaN
1/9/2019 17:02,1445,"Matlab, C/C++",More than 5 years,Software engineer,"Linux/Unix, Windows PC",Less than 6 months,"Numpy, scikit",Data extraction and processing,Friend/Colleague recommended it,No,Become comfortable with python for scripting/d...,Second year graduate student,"Anna University, India",No,NaN
1/9/2019 17:04,2524,"Matlab, C/C++",Between 6 months and 1 year,Engineer (other than software),"Linux/Unix, Windows PC, Mac OS X",None,Numpy,"Data extraction and processing, Data analytics...",ECE Announcement,No,Python and machine learning,First year graduate student,UC Davis,No,NaN

In [25]:
z =z.sort_values('month-yr')

In [26]:
pd.DataFrame(z.groupby('month-yr')['Timestamp'])

          0                                                  1
0  Apr-2018  256    4/3/2018 22:29
254    4/3/2018 16:47
24...
1  Feb-2018  222    2/11/2018 12:45
223    2/12/2018 21:18
...
2  Jan-2018  128      1/5/2018 0:04
92      1/3/2018 18:49
...
3  Jan-2019  436     1/2/2019 8:46
435     1/2/2019 8:45
43...
4  Mar-2018  230    3/30/2018 11:06
252    3/30/2018 12:12
...
5  Oct-2018  424     10/3/2018 2:38
426    10/3/2018 17:27
...
6  Sep-2017  23    9/1/2017 12:55
31    9/1/2017 21:57
29  ...
7  Sep-2018  346     9/20/2018 8:11
347     9/20/2018 8:28
...

In [54]:
z.groupby('month-yr')['Timestamp'].count().to_frame().sort_index()

          Timestamp
month-yr
Apr-2018         28
Feb-2018          2
Jan-2018        148
Jan-2019         57
Mar-2018         41
Oct-2018          6
Sep-2017         74
Sep-2018        130